.card {
    max-width: 470px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(131, 129, 129);
    border-radius: 8px;
    box-shadow: #001e2b 1px 2px 1px 1px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black;
    color: #001e2b;
    padding: 20px;
    font-size: 25px;
    gap: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .input {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: large;
    margin-bottom: 30px;
  }
  
  .input label {
    text-align: start;
    color: rgb(49, 49, 49);
  }
  
  .input input {
    width: 250px;
    height: 35px;
    font-size: medium;
    color: rgb(39, 39, 39);
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
  }
  
  .input input.error{
      border-bottom: 1px solid red;
  }
  
  .helper-text {
    color: red;
    font-size: 12px;
    font-family: Helvetica;
    text-align: start;
  }
  
  Button{
      padding-top: 10px;
  }